html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "ヒラギノ角ゴシック",
    "Hiragino Sans", YuGothic, "Yu Gothic", "Source Sans Pro", "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  background: #f9f9f9;
}

* {
  box-sizing: border-box;
}

p {
  font-weight: 300;
  margin-bottom: 0.5rem;
}

strong {
  font-weight: 600;
}
